# Imports

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

import warnings
warnings.filterwarnings("ignore")

# Wrangle

In [2]:
df = pd.read_csv('employee_churn_data.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# Prepare

In [3]:
df.shape

(1470, 35)

In [4]:
df.Attrition.value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [5]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [6]:
for column in df.columns:
    
    print(column)
    print(df[f'{column}'].value_counts())
    print('')

Age
35    78
34    77
31    69
36    69
29    68
32    61
30    60
33    58
38    58
40    57
37    50
27    48
28    48
42    46
39    42
45    41
41    40
26    39
46    33
44    33
43    32
50    30
24    26
25    26
47    24
49    24
55    22
48    19
51    19
53    19
52    18
54    18
22    16
56    14
58    14
23    14
21    13
20    11
59    10
19     9
18     8
60     5
57     4
Name: Age, dtype: int64

Attrition
No     1233
Yes     237
Name: Attrition, dtype: int64

BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

DailyRate
691     6
1082    5
329     5
1329    5
530     5
       ..
897     1
891     1
889     1
888     1
102     1
Name: DailyRate, Length: 886, dtype: int64

Department
Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

DistanceFromHome
2     211
1     208
10     86
9      85
3      84
7      84
8      80
5      65
4      64
6      59
16     32
11     29
24     28
29     27
23     27
18     26
15     26
20     25
25     25
26     25
28     23
19     22
14     21
12     20
17     20
13     19
22     19
21     18
27     12
Name: DistanceFromHome, dtype: int64

Education
3    572
4    398
2    282
1    170
5     48
Name: Education, dtype: int64

EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

EmployeeCount
1    1470
Name: EmployeeCount, dtype: int64

EmployeeNumber
2046    1
641     1
644     1
645     1
647     1
       ..
1364    1
1367    1
1368    1
1369    1
2048    1
Name: EmployeeNumber, Length: 1470, dtype: int64

EnvironmentSatisfaction
3    453
4    446
2    287
1    284
Name: EnvironmentSatisfaction, dtype: int64

Gender
Male      882
Female    588
Name: Gender, dtype: int64

HourlyRate
66    29
42    28
98    28
48    28
84    28
      ..
31    15
68    14
53    14
38    13
34    12
Name: HourlyRate, Length: 71, dtype: int64

JobInvolvement
3    868
2    375
4    144
1     83
Name: JobInvolvement, dtype: int64

JobLevel
1    543
2    534
3    218
4    106
5     69
Name: JobLevel, dtype: int64

JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

JobSatisfaction
4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

MaritalStatus
Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

MonthlyIncome
2342     4
5562     3
2741     3
2451     3
2610     3
        ..
5381     1
13577    1
12965    1
3339     1
14336    1
Name: MonthlyIncome, Length: 1349, dtype: int64

MonthlyRate
4223     3
9150     3
6670     2
7324     2
4658     2
        ..
11585    1
15682    1
3395     1
9541     1
8192     1
Name: MonthlyRate, Length: 1427, dtype: int64

NumCompaniesWorked
1    521
0    197
3    159
2    146
4    139
7     74
6     70
5     63
9     52
8     49
Name: NumCompaniesWorked, dtype: int64

Over18
Y    1470
Name: Over18, dtype: int64

OverTime
No     1054
Yes     416
Name: OverTime, dtype: int64

PercentSalaryHike
11    210
13    209
14    201
12    198
15    101
18     89
17     82
16     78
19     76
22     56
20     55
21     48
23     28
24     21
25     18
Name: PercentSalaryHike, dtype: int64

PerformanceRating
3    1244
4     226
Name: PerformanceRating, dtype: int64

RelationshipSatisfaction
3    459
4    432
2    303
1    276
Name: RelationshipSatisfaction, dtype: int64

StandardHours
80    1470
Name: StandardHours, dtype: int64

StockOptionLevel
0    631
1    596
2    158
3     85
Name: StockOptionLevel, dtype: int64

TotalWorkingYears
10    202
6     125
8     103
9      96
5      88
1      81
7      81
4      63
12     48
3      42
15     40
16     37
13     36
11     36
21     34
17     33
14     31
2      31
20     30
18     27
19     22
23     22
22     21
24     18
25     14
28     14
26     14
0      11
29     10
31      9
32      9
27      7
30      7
33      7
36      6
34      5
37      4
35      3
40      2
38      1
Name: TotalWorkingYears, dtype: int64

TrainingTimesLastYear
2    547
3    491
4    123
5    119
1     71
6     65
0     54
Name: TrainingTimesLastYear, dtype: int64

WorkLifeBalance
3    893
2    344
4    153
1     80
Name: WorkLifeBalance, dtype: int64

YearsAtCompany
5     196
1     171
3     128
2     127
10    120
4     110
7      90
9      82
8      80
6      76
0      44
11     32
20     27
13     24
15     20
14     18
22     15
12     14
21     14
18     13
16     12
19     11
17      9
24      6
33      5
25      4
26      4
31      3
32      3
36      2
27      2
29      2
23      2
30      1
34      1
37      1
40      1
Name: YearsAtCompany, dtype: int64

YearsInCurrentRole
2     372
0     244
7     222
3     135
4     104
8      89
9      67
1      57
6      37
5      36
10     29
11     22
13     14
14     11
12     10
15      8
16      7
17      4
18      2
Name: YearsInCurrentRole, dtype: int64

YearsSinceLastPromotion
0     581
1     357
2     159
7      76
4      61
3      52
5      45
6      32
11     24
8      18
9      17
15     13
13     10
12     10
14      9
10      6
Name: YearsSinceLastPromotion, dtype: int64

YearsWithCurrManager
2     344
0     263
7     216
3     142
8     107
4      98
1      76
9      64
5      31
6      29
10     27
11     22
12     18
13     14
17      7
14      5
15      5
16      2
Name: YearsWithCurrManager, dtype: int64

**Dropping non-informative columns**

EmployeeCount
EmployeeNumber
Over18
StandardHours - every value is 80

In [7]:
for column in df.columns:
    if column in ('EmployeeCount','EmployeeNumber','Over18','StandardHours'):
        df = df.drop(columns = f'{column}')

In [8]:
df.shape

(1470, 31)

In [9]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [10]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

**Changing catagorical values represented by numbers into string represintations based on the data dictionary for the data set**

Education

EnvironmentSatisfaction

JobInvolvement

JobSatisFaction

PerformanceRating

RelationshipSatisfaction

WorkLifeBalance

**Has ambiguas values replacing with strings of numbers for now**

JobLevel

StockOptionLevel

In [11]:
df.Education = df.Education.apply(lambda number : str(number).replace('1','no_college'))
df.Education = df.Education.apply(lambda number : str(number).replace('2','some_college'))
df.Education = df.Education.apply(lambda number : str(number).replace('3','bachelors_degree'))
df.Education = df.Education.apply(lambda number : str(number).replace('4','masters_degree'))
df.Education = df.Education.apply(lambda number : str(number).replace('5','Doctorate'))

In [12]:
df.Education.value_counts()

bachelors_degree    572
masters_degree      398
some_college        282
no_college          170
Doctorate            48
Name: Education, dtype: int64

In [13]:
df.EnvironmentSatisfaction = df.EnvironmentSatisfaction.apply(lambda number : str(number).replace('1','low'))
df.EnvironmentSatisfaction = df.EnvironmentSatisfaction.apply(lambda number : str(number).replace('2','meduim'))
df.EnvironmentSatisfaction = df.EnvironmentSatisfaction.apply(lambda number : str(number).replace('3','high'))
df.EnvironmentSatisfaction = df.EnvironmentSatisfaction.apply(lambda number : str(number).replace('4','very_high'))

In [14]:
df.EnvironmentSatisfaction.value_counts()

high         453
very_high    446
meduim       287
low          284
Name: EnvironmentSatisfaction, dtype: int64

In [15]:
df.JobInvolvement = df.JobInvolvement.apply(lambda number : str(number).replace('1','low'))
df.JobInvolvement = df.JobInvolvement.apply(lambda number : str(number).replace('2','meduim'))
df.JobInvolvement = df.JobInvolvement.apply(lambda number : str(number).replace('3','high'))
df.JobInvolvement = df.JobInvolvement.apply(lambda number : str(number).replace('4','very_high'))

In [16]:
df.JobInvolvement.value_counts()

high         868
meduim       375
very_high    144
low           83
Name: JobInvolvement, dtype: int64

In [17]:
df.JobSatisfaction = df.JobSatisfaction.apply(lambda number : str(number).replace('1','low'))
df.JobSatisfaction = df.JobSatisfaction.apply(lambda number : str(number).replace('2','meduim'))
df.JobSatisfaction = df.JobSatisfaction.apply(lambda number : str(number).replace('3','high'))
df.JobSatisfaction = df.JobSatisfaction.apply(lambda number : str(number).replace('4','very_high'))

In [18]:
df.JobSatisfaction.value_counts()

very_high    459
high         442
low          289
meduim       280
Name: JobSatisfaction, dtype: int64

In [19]:
df.PerformanceRating = df.PerformanceRating.apply(lambda number : str(number).replace('1','low'))
df.PerformanceRating = df.PerformanceRating.apply(lambda number : str(number).replace('2','good'))
df.PerformanceRating = df.PerformanceRating.apply(lambda number : str(number).replace('3','Excellent'))
df.PerformanceRating = df.PerformanceRating.apply(lambda number : str(number).replace('4','Outstanding'))

In [20]:
df.PerformanceRating.value_counts()

Excellent      1244
Outstanding     226
Name: PerformanceRating, dtype: int64

In [21]:
df.RelationshipSatisfaction = df.RelationshipSatisfaction.apply(lambda number : str(number).replace('1','low'))
df.RelationshipSatisfaction = df.RelationshipSatisfaction.apply(lambda number : str(number).replace('2','meduim'))
df.RelationshipSatisfaction = df.RelationshipSatisfaction.apply(lambda number : str(number).replace('3','high'))
df.RelationshipSatisfaction = df.RelationshipSatisfaction.apply(lambda number : str(number).replace('4','very_high'))

In [22]:
df.RelationshipSatisfaction.value_counts()

high         459
very_high    432
meduim       303
low          276
Name: RelationshipSatisfaction, dtype: int64

In [23]:
df.WorkLifeBalance = df.WorkLifeBalance.apply(lambda number : str(number).replace('1','bad'))
df.WorkLifeBalance = df.WorkLifeBalance.apply(lambda number : str(number).replace('2','good'))
df.WorkLifeBalance = df.WorkLifeBalance.apply(lambda number : str(number).replace('3','better'))
df.WorkLifeBalance = df.WorkLifeBalance.apply(lambda number : str(number).replace('4','best'))

In [24]:
df.WorkLifeBalance.value_counts()

better    893
good      344
best      153
bad        80
Name: WorkLifeBalance, dtype: int64

In [25]:
df.JobLevel = df.JobLevel.apply(lambda number : str(number).replace('1','one'))
df.JobLevel = df.JobLevel.apply(lambda number : str(number).replace('2','two'))
df.JobLevel = df.JobLevel.apply(lambda number : str(number).replace('3','three'))
df.JobLevel = df.JobLevel.apply(lambda number : str(number).replace('4','four'))
df.JobLevel = df.JobLevel.apply(lambda number : str(number).replace('5','five'))

In [26]:
df.JobLevel.value_counts()

one      543
two      534
three    218
four     106
five      69
Name: JobLevel, dtype: int64

In [27]:
df.StockOptionLevel = df.StockOptionLevel.apply(lambda number : str(number).replace('0','zero'))
df.StockOptionLevel = df.StockOptionLevel.apply(lambda number : str(number).replace('1','one'))
df.StockOptionLevel = df.StockOptionLevel.apply(lambda number : str(number).replace('2','two'))
df.StockOptionLevel = df.StockOptionLevel.apply(lambda number : str(number).replace('3','three'))

In [28]:
df.StockOptionLevel.value_counts()

zero     631
one      596
two      158
three     85
Name: StockOptionLevel, dtype: int64

In [29]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,some_college,Life Sciences,meduim,Female,...,Excellent,low,zero,8,0,bad,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,no_college,Life Sciences,high,Male,...,Outstanding,very_high,one,10,3,better,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,some_college,Other,very_high,Male,...,Excellent,meduim,zero,7,3,better,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,masters_degree,Life Sciences,very_high,Female,...,Excellent,high,zero,8,3,better,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,no_college,Medical,low,Male,...,Excellent,very_high,one,6,3,better,2,2,2,2

In [30]:
#df.to_csv('employee_churn_first_cleaning.csv',index=False)

# Explore

# Model

**Establish Baseline Accuracy**

In [31]:
most_common_value = len(df[df.Attrition=='No'])

total_rows = len(df)

print(most_common_value)
print(total_rows)

1233
1470

In [32]:
baseline_accuracy = most_common_value / total_rows
round(baseline_accuracy,4)

0.8388

**Initial Model Results**

I used DataRobot to generate models on the data set after the initial cleaningthe results were an accuracy score of .8963. The model is showing promise, but further exploration is needed to improve the model's performance. Note because the data set is imbalanced I am paying particular attention to the true positive rate of this and future models. The true positive rate of the initial model is .6789.

### Dropping features with little to no explanitory value. 
This was determined by exploring the features in DataRobot

In [33]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,some_college,Life Sciences,meduim,Female,...,Excellent,low,zero,8,0,bad,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,no_college,Life Sciences,high,Male,...,Outstanding,very_high,one,10,3,better,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,some_college,Other,very_high,Male,...,Excellent,meduim,zero,7,3,better,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,masters_degree,Life Sciences,very_high,Female,...,Excellent,high,zero,8,3,better,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,no_college,Medical,low,Male,...,Excellent,very_high,one,6,3,better,2,2,2,2

In [34]:
df = df.drop(columns=['YearsSinceLastPromotion','TrainingTimesLastYear','PerformanceRating','Gender','DailyRate','MonthlyRate','HourlyRate', 'NumCompaniesWorked','DistanceFromHome','PercentSalaryHike'])

In [35]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'Education',
       'EducationField', 'EnvironmentSatisfaction', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'OverTime', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsWithCurrManager'],
      dtype='object')

In [36]:
#df.to_csv('employee_churn_features_with_no_value_dropped.csv',index=False)

### Dropping features due to high colinierity.

In [37]:
df = df.drop(columns=['MaritalStatus','Department', 'YearsInCurrentRole', 'YearsWithCurrManager', 'TotalWorkingYears', 'YearsInCurrentRole'])

In [38]:
#df.to_csv('employee_churn_features_with_high_coliniarity_dropped.csv',index=False)

### looking at outliers

In [39]:
def remove_outliers_iqr(df, columns):
    for col in columns:
        q75, q25 = np.percentile(df[col], [75,25])
        ub = 3*stats.iqr(df[col]) + q75
        lb = q25 - 3*stats.iqr(df[col])
        df = df[df[col] <= ub]
        df = df[df[col] >= lb]
    return ub, lb, df

In [40]:
ub, lb, df = remove_outliers_iqr(df,['YearsAtCompany'])

In [41]:
ub

27.0

In [42]:
lb

-15.0

In [43]:
df

,Age,Attrition,BusinessTravel,Education,EducationField,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MonthlyIncome,OverTime,RelationshipSatisfaction,StockOptionLevel,WorkLifeBalance,YearsAtCompany
0,41,Yes,Travel_Rarely,some_college,Life Sciences,meduim,high,two,Sales Executive,very_high,5993,Yes,low,zero,bad,6
1,49,No,Travel_Frequently,no_college,Life Sciences,high,meduim,two,Research Scientist,meduim,5130,No,very_high,one,better,10
2,37,Yes,Travel_Rarely,some_college,Other,very_high,meduim,one,Laboratory Technician,high,2090,Yes,meduim,zero,better,0
3,33,No,Travel_Frequently,masters_degree,Life Sciences,very_high,high,one,Research Scientist,high,2909,Yes,high,zero,better,8
4,27,No,Travel_Rarely,no_college,Medical,low,high,one,Laboratory Technician,meduim,3468,No,very_high,one,better,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,some_college,Medical,high,very_high,two,Laboratory Technician,very_high,2571,No,high,one,better,5
1466,39,No,Travel_Rarely,no_college,Medical,very_high,meduim,three,Healthcare Representative,low,9991,No,low,one,better,7
1467,27,No,Travel_Rarely,bachelors_degree,Life Sciences,meduim,very_high,two,Manufacturing Director,meduim,6142,Yes,meduim,one,better,6
1468,49,No,Travel_Frequently,bachelors_degree,Medical,very_high,meduim,two,Sales Executive,meduim,5390,No,very_high,zero,good,9
1469,34,No,Travel_Rarely,bachelors_degree,Medical,meduim,very_high,two,Laboratory Technician,high,4404,No,low,zero,best,4

In [44]:
df.to_csv('employee_churn_dropped_tenure_outliers.csv',index=False)

UsageError: Line magic function `%` not found.